.countdown {
    display: inline-block;
}

.countdown__text {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.countdown__parts {
   /* width: max-content;*/
    display: flex;
}

.countdown__part, .part__splitter {
    text-align: center;
    /*line-height: 1.4;*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.part__splitter > div:last-of-type {
    height: calc(1.4 * 0.7rem);
}

.countdown__part > div:first-of-type, .part__splitter {
    font-size: 5rem;
}

.countdown__part > div:last-of-type {
    text-transform: uppercase;
    font-size: 0.7rem;
}