@import 'user-settings.css';

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
}

.container {
    --color: rgb(72, 61, 55);
    --background-color: #FDF8F5;
    --border-color: rgba(72, 61, 55, 0.3);

    font-family: 'PT Sans', 'Segoe UI', 'Verdana', 'Helvetica', sans;

    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;

    position: relative;
}

#countdown-wrapper {
    flex: 5 0 5rem;
    text-align: center;
    align-self: center;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

#btn-open {
    margin-left: 0.5rem;
}
