@import 'user-settings.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
}

.container {
    --color: rgb(72, 61, 55);
    --background-color: #FDF8F5;
    --border-color: rgba(72, 61, 55, 0.3);

    font-family: 'PT Sans', 'Segoe UI', 'Verdana', 'Helvetica', sans;

    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;

    position: relative;
}

#countdown-wrapper {
    flex: 5 0 5rem;
    text-align: center;
    align-self: center;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

button:focus {
    border: 2px solid var(--color);
}

.container button {
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--background-color);
    background-color: var(--color);
    border: 2px solid var(--border-color);
}

button:active {
    background-color: var(--background-color);
    color: var(--color);
}

button:focus, button:active {
    outline-color: var(--color);
    -webkit-tap-highlight-color: transparent;
}

#btn-open {
    margin-left: 0.5rem;
}

.links {
    height: 6vh;
    padding: 15px 0 5px;
    line-height: 7vh;
    text-align: center;
    vertical-align: center;
}
.links img {
    height: 80%;
    width: auto;
}
